body{
	font-size: 16px;
	background-color: #fff;
}
.jumbotron {
    position: relative; 
    background: #000 url(../img/imagesB.jpg) center center / cover no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: #fff;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700;
	color: #fff;
}

h2{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 100;	
	color: #fff;
}

.subh2{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 200;	
	color: #224059;
}

.t-azul{
  color: #224059;
}

.circulo {
	position: absolute;
	right: 50px;
	top: 85%;
	z-index: 1;
  width: 70px;
  height: 70px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #000;
	border: 5px solid #224059;
}

.perfilh2{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300;	
	font-size: 2.5em;
	color: #224059;
}

.circulo-imagen{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
	border: 5px solid #fff;
}

.stroke {
	text-align: center;
	color: white;
	font-family: Georgia, serif;
	font-size: 1.7em;
	letter-spacing: 0;
	text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}

.bottton-right{
	position: absolute;
	right: 50px;
	top: 85%;
}

.fondo-suave{
	background-color:rgba(0, 0, 0, 0.1);
}

.img-responsive {
	margin: 0 auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

footer{
  background-color: #224059;
  color: #fff; 
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em;
  font-weight: 300px;
}

.btn-color {
	background-color:rgba(34, 64, 89, 0.85);
	color: white;
	
}

.btn-color:hover {
	background-color: #224059;
	color: #fff;
}


footer a {
	color: #fff;
}




